body {
    margin: 0;

}

.blank {
    margin: 50px;
}

.blank2 {
    margin: 30px;
}

.category {

    background-color: rgb(42, 42, 42);
    color: white;
    top: 50%;
    left: 50%;
    width: auto;
    height: 50px;
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: left;
}

.category p {
    padding-left: 30px;
    margin-bottom: 10px;
}

.category p a:visited {
    color: white;
    text-decoration-line: none;
}

.category p a:link {
    color: white;
    text-decoration-line: none;
}

.category p a:hover {
    color: white;
}

.category_Selectbar {

    background-color: rgb(241, 241, 241);
    color: rgb(42, 42, 42);
    top: 50%;
    left: 50%;
    width: auto;
    height: 50px;
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: left;
    border: 1px solid lightgrey;
   
}

.category_Selectbar ul {
    padding-left: 50px;
    display: flex;
    list-style-type: circle;
}

.category_Selectbar ul li a:visited {
    color: rgb(42, 42, 42);
    text-decoration-line: none;
}

.category_Selectbar ul li a:link {
    color: rgb(42, 42, 42);
    text-decoration-line: none;
}

.category_Selectbar ul li a:hover {
    color: rgb(120, 120, 120);
}

.alinebox {
    background-color: rgb(241, 241, 241);
    color: rgb(42, 42, 42);
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: left;
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 0.5px 0px lightgrey;
}


.alinebox ul {
    font-size: 12px;
    padding-left: 10px;
    display: flex;
    list-style: none;
}

.alinebox ul li span {
    padding: 14px
}

#stock_massage {
    position: absolute;
    top: 37%;
    right: 11%;
    font-size: 12px;
    font-weight: 600;
}

/* -------------------------------------------------------------- */

.Product_list {
    margin-left: 10%;
    padding: 10px;
    display: flex;
    justify-content: left
}

.container {
    position: relative;
    width: auto;
    height: auto;
    margin: 15px 30px 15px 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    transition: all 0.2s linear;
}

.image {
    display: block;
    width: 50%;
    height: auto;
}


.container a img {
    position: relative;
    width: 270px;
    height: 270px;
    margin: 0 auto;

    overflow: hidden;
    border-radius: 10px;
}

.container:hover {
    transform: scale(1.05);
}

.container:hover .overlay {
    opacity: 1;
}

.container a:link {
    color: rgb(42, 42, 42);
}

.container a:visited {
    color: rgb(42, 42, 42);
}

.container a p {
    margin-top: 18px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    color: rgb(42, 42, 42);
    font-weight: 600;
}

.pagination {
    border-spacing: 0;
    font-size: 13px;
    color: #666;
    text-align: center;
    border: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 30px;
}

.pagination li button {
    background-color: white;
    border: 1px solid lightgray;
    padding: 6px 10px 6px 10px;
    margin: 2px;
}

#pagination_num {
    padding-top: 7px;
    background-color: rgb(42, 42, 42);
    color: white;
}

.Top_button {
    /* 하단 TOP 버튼 고정 */
    position: fixed;
    right: 3%;
    bottom: 9%;
    z-index: 300
}