body {
    margin: 0;
    padding: 0;
}

.aboutbg {
    margin: 0;
    padding: 0;
    background-image: url(./images/SONY/sec3_banner.jpg);
    min-height: 400px;
    background-size: cover;
    min-width: 1200px;
    position: relative;
}

.about {
    margin: auto;
    padding: 30px 0;
    width: 1200px;
    display: flex;
    justify-content: center;
    text-shadow: 1px 0px 5px #777;
}

/* 컨텐츠 좌측 타이틀 */
.about-tit {
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 27px;
    color: #aaa;
    margin-left: 20px;
    font-family: 'Noto Sans Korean', sans-serif;
}

/* 컨텐츠 내부 내용 */
.aboutin {
    width: 800px;
    padding: 10px;
    margin: auto 15px auto 50px;
    box-sizing: border-box;
    font-size: 15px;
    letter-spacing: -0.6pt;
    line-height: 27px;
    color: #aaa;
    font-family: 'Noto Sans Korean', sans-serif;
}

/* 버튼 */
.aboutin ul {
    list-style: none;
    margin-left: 30px;
    margin-right: 100px;
}

.aboutin li {
    float: left;
    width: 33.3333%;
    box-sizing: Border-box;
}

.aboutin li a {
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    line-height: 66px;
    text-align: center;
    font-family: 'Noto Sans Korean', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #aaa;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(7, 7, 7, 0.7);
}

.aboutin li a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(7, 7, 7, 0.7);
}